@{

}
<style>
    h2 {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        position: relative;
        left: 43%;
    }
    p {
        text-align: center;
        margin: 25px auto;
    }
</style>
<body>
    <h2>About Us</h2>
    <p>
        Fishing for you is a site focused on selling fishing equipment and items.<br />
        Contact us at :<br />
        <strong>Leron st 5, Tel Aviv</strong><br />
        <strong>Phon: 1800750750</strong><br />
        <strong>Or at mail: fishingforyou@gmail.com</strong>
    </p>

</body>